.progress {
    height: 1.5rem;
    margin: 0.75rem;
    border-radius: 0;
}
button {
    background-color: #3b7dd8;
    border: none;
    width: 150px;
    height: 3rem;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.grid-container {
    display: block;
    margin: 0 auto;
    min-width: 400px;
    min-height: 400px;
}

.grid-row {
    margin: 0;
    padding: 0;
}

.square {
    display: inline-flex;
    width: 80px;
    height: 80px;
    margin: 0.1rem 0.2rem;
    background-color:  #bfd6f6;
    transition: background-color 0.25s ease-out;
}

.chosen {
    transition: background-color 0.25s ease-out;
    background-color: #3b7dd8;
}

.clicked {
    transition: background-color 0.25s ease-out;
    background-color: #3b7dd8;
}

.missed {
    animation: crash 0.25s ease-out;
}

@keyframes crash {
    0% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0);
    }
}

.winning {
    background-color: #17A2B8;
}

.losing {
    background-color: #FF2768;
}

.scores {
    text-align: left;
}

.scores p {
    font-size: 1.5rem;
}

.bouncing {
    animation: bounceIn 1s ease-in;
}

@keyframes bounceIn {

    0% { transform: translateY(0); }
    30% { transform: translateY(-40px); }
    50% { transform: translateY(0); }
    80% {transform: translateY(-35px)}
    100% { transform: translateY(0); }
}

.total {
    margin: 3rem 0;
}




@media only screen and (max-width: 1130px) {
    .scores {
        text-align: center;
        margin-top: 1.5rem;
    }

    .square {
        width: 60px;
        height: 60px;
    }
}
