
.scores {
    text-align: left;

}


.scores p {
    font-size: 1.5rem;
}

.scaling {
    animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.total {
    margin: 3rem 0;
}

button {
    background-color: #3b7dd8;
    border: none;
    width: 25%;
    height: 3rem;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.grid-container {
    display: block;
    margin: 0 auto;
    min-width: 400px;
    min-height: 400px;
}

.grid-row {
    margin: 0;
    padding: 0;
}

.square {
    display: inline-flex;
    /*min-width: 100px;*/
    width: 80px;
    height: 80px;
    margin: 0.1rem 0.2rem;
    background-color:  #bfd6f6;
    transition: background-color 0.25s ease-out;
}

.chosen {
    transition: background-color 0.25s ease-out;
    background-color: #3b7dd8;
}

.clicked {
    transition: background-color 0.25s ease-out;
    background-color: #3b7dd8;
}